body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  text-align: center;
}

body {
  background-color: lightgray;
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
}

.vis-container {
  width: 100%;
  padding-bottom: 15px;
}

.tab-container {
  text-align: center;
  padding-bottom: 15px;
}

.tabcontent {
  width: 100%;
  margin-bottom: 2%;
}

.selector-container {
  text-align: center;
}

#hist-container {
  width: 100%;
  padding-bottom: 15px;
}

.description h2,
h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
  text-align: center;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
  padding-left: 20px;
}

.pure-g {
  margin-bottom: 40px;
  background-color: antiquewhite;
}

.small-font {
  font-size: 14px;
}
